@section scripts
{    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/employee.js")
}
<div ng-app="empApp" ng-controller="EmployeeController">
    <div>
        <h1>Employees</h1>
        <p ng-hide="employees.length &gt; 0">Loading...</p>
        <ul ng-show ="employees.length &gt; 0">
            <li ng-repeat="employee in employees">
                <a ng-click="getEmployee(employee.EmployeeId)">{{employee.FullName()}}</a>
            </li>
        </ul>
    </div>

    <div ng-show="currentEmployee">
        <h2>Details</h2>
        <table>
            <thead>
                <tr ng-if="currentEmployee.Error">
                    <td colspan="2" class="error">Error: {{currentEmployee.Error}} - please contact system administrator</td>
                </tr>
                <tr ng-show="currentEmployee.FirstName">
                    <td colspan="2">Details for {{currentEmployee.FullName()}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(property, value) in Members(currentEmployee)">
                    <td>{{property}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
